 body, html {
     background-image: url('../imagenes/fondPerritos3.jpg'); 
     background-repeat: no-repeat;
     background-size: cover;  
     /* background-color: rgb(153, 153, 5);  */
     /* display: flexbox;
     justify-content: center;
     align-items: center; */
     /* ../imagenes/fondoPerritos.jpg */
 }
 .selectors{
     display: flex; 
     justify-content: space-around;
     align-items: center;
 }
 .selector{
    border-radius: 15px;
    height: 20px;
 }
 .botton{
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 .cards{
    /* display: flexbox;
    flex-direction: column;
    align-items:center;
    padding: 5px;
    justify-content: center;   */
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 33% 33% 33%;
    gap: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 15px;
 }
 .titulo{
    font-family: 'Dancing Script', cursive;
    text-shadow: -5px 0px 6px rgba(250, 246, 246, 0.67);
    color: #181a19;
    font-size: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
 }
 

.paginado{
    display: flex;
    flex-direction: row; 
    justify-content: center; }
/* 
.ordenar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
    

} */


