.entry {
   background-image: url('https://media.giphy.com/media/WUfTfGL7KJZrTqCMWV/giphy.gif'); 
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0; 
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
  }
  .text{
    font-family: 'Dancing Script', cursive;
    text-shadow: -5px 0px 6px rgba(250, 246, 246, 0.67);
    color: #181a19;
    font-size: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
  }
  html, body {
    height: 100%;
  }
  
  .wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    min-width: 80px;
    min-height: 40px;
    font-family: 'Patrick Hand', cursive;
    font-size: 15px;
    text-transform: capitalize;
    letter-spacing: 1.3px;
    font-weight: 200;
    color: #e5e5f1;
    background: #0a0a0a;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgb(20, 22, 22) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px #0f0f0f(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  button::before {
    content: '';
    /* border-radius: 1000px;
    min-width: calc(200px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #dce4e4;
    box-shadow: 0 0 60px #0f0f0f(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s; */
  }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    /* width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #cac7c7;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite; */
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }

  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 10;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }